.container {
  max-width: 1450px;
  margin: 0 auto;
}
.wrapper {
  position: relative;
  width: inherit;
  min-height: 100vh;
  padding-bottom: 30px;
  background-color: #f1f8e9;
}
.containerCards {
  padding-top: 50px;
}
.card {
  display: grid;
  padding: 20px;
  max-width: 1400px;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  justify-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: inherit;
  margin: 20px;
  gap: 10px;
}
.cardItem {
  position: relative;
  width: 100%;
}
.deletBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #b6d3b1;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}
.deleteIcon {
  width: 30px;
  height: 30px;
  font-size: 25px;
  color: #444;
  padding: 5px;
}
.noItem {
  font-size: 18px;
  color: #444;
}
@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
  }
}
