.containerCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}
.card {
  width: 80%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1.5fr 0.75fr 0.5fr 1fr 50px;
  grid-template-areas:
    "image image"
    "summary summary"
    "ingredient another"
    "steps steps "
    "btn btn";
  justify-items: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  color: inherit;
  padding: 30px;
  margin: 20px;
}

.imageWrapper {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  border-bottom: 0.5px solid #dde2dc;
}
.image {
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 80%;
  height: 80%;
  object-fit: cover;
}
.title {
  grid-area: title;
  font-size: 25px;
  font-weight: 600;
  padding-top: 20px;
  text-align: center;
  margin: 10px;
  color: black;
}
.content {
  grid-area: summary;
  font-size: 1rem;
  line-height: 1.8;
  color: #444;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 0.5px solid #dde2dc;
}
.anotherDetail {
  grid-area: another;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.ingredientStep {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}
.ingredientsPart {
  grid-area: ingredient;
  color: #444;
}

.anotherinfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #444;
}
.infoDetail {
  font-size: 15px;
  text-align: center;
}
.infosvg {
  width: 20px;
  height: 20px;
}
.analyzedInstructions {
  grid-area: steps;
  border-top: 0.5px solid #dde2dc;
  margin-top: 20px;
  padding-top: 20px;
  color: #444;
}
.btnFavorite {
  color: white;
  grid-area: btn;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  justify-content: center;
  gap: 8px;
  background: #b6d3b1;
  margin-bottom: 20px;
}
@media (max-width: 1480px) {
  .card {
    width: 80%;
    grid-template-rows: 1.25fr 0.75fr 0.5fr 1fr 50px;
  }
}
@media (max-width: 1300px) {
  .imageWrapper {
    width: 90%;
    height: 95%;
  }
  .image {
    width: 85%;
  }
  .title {
    margin-bottom: 20px;
  }
  .content {
    margin: 20px;
    padding-bottom: 20px;
    border-bottom: 0.5px solid #dde2dc;
  }
  .ingredientStep {
    font-size: 14px;
    line-height: 28px;
    gap: 6px;
  }
  .anotherinfo {
    gap: 6px;
  }
  .infoDetail {
    font-size: 13px;
  }
  .infosvg {
    width: 17px;
    height: 17px;
  }
  .analyzedInstructions {
    font-size: 12px;
    line-height: 24px;
  }
}

@media (max-width: 1050px) {
  .card {
    padding: 5px 20px;
    margin: 0px;
  }
  .title {
    font-size: 20px;
  }
  .btnFavorite {
    padding: 8px;
    gap: 4px;
    margin-top: 20px;
  }
}
@media (max-width: 850px) {
  .card {
    width: 90%;
  }
  .content {
    font-size: 0.9rem;
    line-height: 1.8;
    padding-bottom: 15px;
  }
  .ingredientStep {
    font-size: 12px;
    line-height: 28px;
    gap: 3px;
  }
  .anotherinfo {
    gap: 5px;
  }
  .infoDetail {
    font-size: 10px;
    font-weight: 600;
  }
  .infosvg {
    width: 16px;
    height: 16px;
  }
  .btnFavorite {
    font-size: 15px;
    gap: 4px;
    margin-top: 20px;
  }
}
@media (max-width: 620px) {
  .card {
    grid-template-columns: 0.75fr;
    grid-template-rows: 0.7fr 0.75fr 0.5fr 0.1fr 1fr 50px;
    grid-template-areas:
      "image"
      "summary"
      "ingredient"
      "another"
      "steps"
      "btn";
    justify-items: flex-start;

    margin: 10px;
  }
  .title {
    font-size: 18px;
  }
  .imageWrapper {
    width: 95%;
    height: 65%;
  }
  .content {
    font-size: 0.8rem;
    line-height: 1.8;
    padding-bottom: 15px;
  }
  .ingredientStep {
    font-size: 12px;
    line-height: 24px;
    gap: 2px;
  }
  .anotherinfo {
    gap: 4px;
  }
  .infoDetail {
    font-size: 11px;
    font-weight: 500;
  }
  .infosvg {
    width: 14px;
    height: 14px;
  }

  .btnFavorite {
    font-size: 12px;
    font-weight: 500;
    gap: 2px;
    padding: 10px;
    margin: 30px auto;
  }
}
@media (max-width: 420px) {
  .card {
    width: 90%;
    grid-template-columns: 0.5fr;
    grid-template-rows: 0.5fr 0.5fr 0.35fr 0.05fr 0.75fr 50px;
    justify-items: center;
    padding: 10px 10px;
    margin: 0px;
  }
  .title {
    font-size: 12px;
  }
  .imageWrapper {
    width: 80%;
    height: 55%;
  }
  .content {
    font-size: 0.75rem;
  }
  .ingredientStep {
    font-size: 12px;
  }
  .ingredientsvg {
    width: 12px;
    height: 12px;
  }
  .anotherDetail {
    padding-top: 15px;
  }
  .anotherinfo {
    gap: 2px;
  }
  .infoDetail {
    font-size: 10px;
  }
  .infosvg {
    width: 14px;
    height: 14px;
  }

  .btnFavorite {
    font-size: 12px;
    font-weight: 500;
    gap: 2px;
    padding: 10px;
    margin: 10px auto;
  }
}
